@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Raleway:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-idm: 'IBM Plex Mono', monospace;
    --font-ralevay: 'Raleway';
    --font-size-14: 14px;
}

@media screen and (max-width: 940px) {
    .container {
        padding: 0 20px;
    }
}

@media screen and (max-width: 780px) {
    .photo img {
        max-width: 300px;
    }

    .photo {
        display: flex;
        justify-content: center;
    }

    .content {
        flex-direction: column-reverse;
    }

    .content-text {
        margin-right: 0;
        align-items: center;
        text-align: center;
    }
}

@keyframes photo-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container {
    max-width: 1110px;
    padding: 0 95px;
}

header, .title {
    background: #080808;
}

.header {
    display: flex;
    align-items: center;
    height: 70px; 
    
}

header > .container {
    background: #1B1B1B;
    border-radius: 0px 0px 8px 8px;
}

.top-menu {
    color: #9C9C9C;
    font-family: var(--font-idm);  
    font-size: var(--font-size-14); 
}

.menu-items {
    display: flex;
    list-style: none;
    gap: 70px;
}

.menu-items > li > a {
    text-decoration: none;
}

.menu-items > li > a:link {
    color: #9C9C9C;
}

.menu-items > li > a:visited {
    color: #9C9C9C;
}

.menu-items > li > a:hover {
    color: #3F8E00;    
}

.social-media {
    display: flex;
    gap: 25px;
    margin-left: 95px;
}

.linkedin {
    margin-bottom: 3.5%;
    cursor: pointer;
}

.behance, .twitter {
    cursor: pointer;
}

.content {
    display: flex;
} 

.title {
    padding: 80px 0 45px 0;
}

.content-text {
    margin: 50px 50px 0 0;
}

.content-text > h1 {
    font-family: var(--font-ralevay);
    font-weight: 800px;
    font-size: 44px;
    margin: 0 0 20px 0;
    color: #FFFFFF;
}

.content-text > p {
    max-width: 492px;
}

.text {
    font-family: var(--font-idm);
    font-size: var(--font-size-14);
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #9C9C9C;
}

button {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    padding: 21px 64px;
    font-weight: 700;
    line-height: 21px;
    background: #3F8E00;
    border: 0;
    box-shadow: 0px 5px 30px rgba(63, 142, 0, 0.5);
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #469b00;
    box-shadow: 0px 13px 30px rgba(63, 142, 0, 0.5);
}

button:active {
    background: #397e01;
}

.text-call {
    font-family: var(--font-idm);
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
}

.photo {
}

.photo:hover {
    animation: photo-animation linear 4s infinite;
}

.photo > img{
    transform-origin: center;
    border-radius: 50%;
}

.clients {
    margin-top: 53px;
}

.clients-title {
    color: #FFFFFF;
    font-family: var(--font-idm);  
    font-size: var(--font-size-14); 
}

.clients-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 30px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 60px;
    border: 1px solid #1B1B1B;
    border-radius: 6px;
    cursor: pointer;
}

.case-studies {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 897px;
    height: 1242px;
}

.case-studies > h1 {
    font-family: var(--font-ralevay);
    color: #080808;
    font-weight: 800;
    width: 213px;
    height: 40px;
    font-size: 34px;
    height: 40px;
    margin-bottom: 10px;
}

.case-studies > p {
    margin: 0 175px 0 175px;
    text-align: center;
    margin-bottom: 60px;
}

.studies > .container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.block {
    display: flex;
    margin: 0 0 80px 0;
}

.block-text1 {
    margin: 0 26px 0 0;
}

.block-text2 {
    margin: 0 0 0 26px;
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 27px 0 20px 0;
    max-width: 72px;
    padding: 4px;
    font-family: var(--font-idm);
    font-size: 12px;
    font-weight: 800;
    border-radius: 60px;
    background: #FFF6E9;
    color: #FFA217;
}

.block-text2 > .tag {
    background: #D0E6FF;
    color: #000AFF;
    width: 64px;
}

.block-text3 > .tag {
    background: #E0FFF8;
    color: #2AB090;
    width: 64px;
}

.heading {
    font-family: var(--font-ralevay);
    color: #080808;
    font-weight: 800;
    font-size: 24px;
    margin: 0 0 10px 0;
}

.call {
    padding: 10px 24px;
    border: 0;
    box-shadow: none;
    line-height: 18px;
}

.call:hover {
    background: #469b00;
    box-shadow: 0px 13px 30px rgba(63, 142, 0, 0.5);
}

.call:active {
    background: #397e01;
}

.block-text1 > button {
    background: #FFA217;
    box-shadow: 0px 5px 30px rgba(229, 212, 26, 0.5);
}

.block-text2 > button {
    background: #000AFF;
    box-shadow: 0px 5px 30px rgba(51, 21, 159, 0.5);
}

.block-text3 > button {
    background: #2AB090;
    box-shadow: 0px 5px 30px rgba(42, 172, 131, 0.5);

}

.block > img {
    max-width: 445px;
    border-radius: 6px; 
}